{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panel de Administración CrumbCore">
    <meta name="author" content="Arturo">

    <title>{% block title %}CrumbCore Admin{% endblock %}</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <style>
        /* Parche preventivo para evitar el salto visual en móviles */
        @media (max-width: 768px) {
            .sidebar {
                width: 0 !important;
                overflow: hidden;
            }
            .sidebar.toggled {
                width: 0 !important;
            }
        }
    </style>

    {% block extra_css %}{% endblock %}
</head>

<body id="page-top">

    <div id="wrapper">

        <script>
            if (window.innerWidth < 768) {
                document.body.classList.add("sidebar-toggled");
            }
        </script>

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-cookie-bite"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CrumbCore</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Panel Principal</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Inventario
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'ingredient_list' %}">
                    <i class="fas fa-fw fa-box"></i>
                    <span>Ingredientes</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'product_list' %}">
                    <i class="fas fa-fw fa-cookie"></i>
                    <span>Productos y Recetas</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Ventas
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'order_list' %}">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Pedidos</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'customer_list' %}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Directorio de Clientes</span></a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Configuraciones
            </div>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'payment_config_list' %}">
                    <i class="fas fa-fw fa-money-bill"></i>
                    <span>Metodos de Pago</span></a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username|default:"Arturo" }}</span>
                                <img class="img-profile rounded-circle"
                                    src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>

                                <div class="dropdown-divider"></div>

                                <form method="POST" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar Sesión
                                    </button>
                                </form>

                            </div>
                        </li>

                    </ul>

                </nav>

                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; CrumbCore 2026</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/js/sb-admin-2.min.js"></script>

    <script>
        $(document).ready(function() {
            if ($(window).width() < 768) {
                $("#accordionSidebar").addClass("toggled");
            }
        });
    </script>

    {% block extra_js %}{% endblock %}

</body>
</html>